.sidebar {
  background-color: var(--bg-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: large;
  position: sticky;
}

.sidebar__title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-dark-bg);
  margin: 1rem 0 0 1rem;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0.75rem 1rem;
}

.sidebar__item {
  margin: 0.25em 0;
}

.sidebar__item a {
  text-decoration: none;
  color: var(--text-light-bg);
}

.sidebar__item a:hover {
  color: var(--brand-color);
}

.sidebar__item--selected a {
  color: var(--brand-color);
  font-weight: bold;
  text-decoration: none;
}

.sidebar__bottom {
  margin: auto 0 1em 0;
}

.sidebar__bottom__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.sidebar__popover {
  background-color: var(--bg-white);
  box-shadow: 0 0 0.5em 0.25em rgba(0 0 0 / 25%);
  z-index: 999;
  padding: 1em;
  border-radius: 0.5em;
}

.popover__signout {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.react-tiny-popover-container {
  z-index: 99;
}
