.edit {
	padding: 0.5em 0 0 0;
}

.edit__top,
.edit__right,
.edit__edit_sounds_top {
	display: flex;
}

.edit__right {
	margin-left: auto;
	margin-right: 1em;
	gap: 1em;
}

.edit__link {
	color: var(--text-dark-bg);
	text-decoration: none;
}

.edit__edit_title_wrapper {
	margin: 0.5em 0;
}

.edit__edit_title {
	margin-left: 0.5em;
}

.edit__setting {
	display: flex;
	width: 20em;
	margin: 0.5em 0;
}

.edit__setting_label {
	flex-grow: 1;
}

/* .edit__setting__tooltip {
	display: inline-block;
	color: var(--text-white);
	background: var(--brand-color);
	border-radius: 50%;
	/* padding: 5px;
	width: 20px;
	height: 20px;
} */

/* .edit__setting__tooltip::after {
	content: "&#x1F6C8;";
	width: 25px !important;
	height: 25px !important; 
} */
