.sound_grid {
	margin: auto;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min-content, 250px));
	gap: 1em;
	align-items: center;
	justify-content: center;
}

.sound_grid__item {
	background: var(--brand-color);
	padding: 0.5em 0;
	color: var(--text-white);
	text-align: center;
}

.sound_grid__item--playing {
	background-color: var(--brand-color-darker);
}
