.audio_player__center__icons {
	color: var(--brand-color);
}

.audio_player__icon {
	font-size: 36px;
	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.audio_player__right__icon {
	font-size: 24px;
	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.audio_player_progress_bar {
	position: relative;
}

input[type="range"] {
	position: relative;
	width: 100%;
	margin: 5.85px 0;
	background-color: transparent;
	-webkit-appearance: none;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	background: #ff808e;
	border: 0;
	border-radius: 11px;
	width: 100%;
	height: 7.5px;
	cursor: pointer;
	z-index: -1;
}
input[type="range"]::-webkit-slider-thumb {
	margin-top: -5.25px;
	width: 18px;
	height: 18px;
	/* background: rgba(255, 255, 255, 1); */
	background: var(--brand-color);
	border: 5px solid #b30015;
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
	z-index: 10;
}
input[type="range"]::before {
	content: "";
	position: absolute;
	left: 0;
	width: calc(var(--before-thumb-width));
	height: 7.5px;
	background: var(--brand-color);
	border-radius: 11px 0 0 11px;
	opacity: 1;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #ffb3bb;
}
input[type="range"]::-moz-range-track {
	background: #ff808e;
	border: 0;
	border-radius: 11px;
	width: 100%;
	height: 11.3px;
	cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
	width: 23px;
	height: 23px;
	background: rgba(255, 255, 255, 0.1);
	border: 3.5px solid #b30015;
	border-radius: 50px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 9.85px 0;
	color: transparent;
	width: 100%;
	height: 11.3px;
	cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
	background: #ff4d61;
	border: 0;
	border-radius: 22px;
}
input[type="range"]::-ms-fill-upper {
	background: #ff808e;
	border: 0;
	border-radius: 22px;
}
input[type="range"]::-ms-thumb {
	width: 23px;
	height: 23px;
	background: rgba(255, 255, 255, 0.1);
	border: 3.5px solid #b30015;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 0px;
	/*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
	background: #ff808e;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #ffb3bb;
}

.audio_player__volume.audio_player__volume {
	/* width: 250px; */
	--before-thumb-width: 0px;
}

.audio_player {
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0;
	gap: 1em;
	margin: 0 1em;
	justify-content: center;
	align-items: center;
}

.audio_player__center {
	flex-grow: 1;
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.audio_player__center__icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio_player__progress_bar {
	flex-grow: 1;
	/* flex-basis: 100%; */
}

.audio_player__right {
	display: flex;
	color: var(--brand-color);
	padding-right: 2em;
	justify-content: center;
	align-items: center;
}
