.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 50%;
  background: var(--bg-white);
  border-radius: 1em;
  padding: 1em;
}

.modal__header,
.modal__footer,
.modal__body {
  padding: 0.5em;
}

.modal__body,
.modal__footer {
  border-top: 1px solid var(--brand-color-lighter);
}

.modal__footer {
  display: flex;
  justify-content: right;
  gap: 1em;
}

.modal__btn {
  margin: 0;
}

.input__description {
  font-size: small;
  font-style: italic;
}

.input__error {
  font-weight: bold;
  color: rgb(219, 45, 45);
}
.input_wrapper {
  margin-bottom: 0.55em;
}

.loop_wrapper {
  display: flex;
  gap: 1em;
}
