/* rounded button with the brand color as background */
.btn {
	display: block;
	background-color: var(--brand-color);
	border: 0;
	border-radius: 5rem;
	color: var(--text-white);
	font-size: 1rem;
	font-weight: bold;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
